{{/* {{< javaMultiRunner files="Main.java;Utils.java;data.txt" >}}
     Chaque nom est séparé par un point-virgule ; le contenu est chargé
     depuis static/code/<nom>. */}}
{{ $files := slice }}
{{ range (split (.Get "files") ";") }}
  {{ $filePath := printf "static/code/%s" . }}
  {{ if fileExists $filePath }}
    {{ $files = $files | append (dict "name" . "content" (readFile $filePath)) }}
  {{ else }}
    {{ $files = $files | append (dict "name" . "content" "// Fichier non trouvé") }}
  {{ end }}
{{ end }}
{{ partial "java-runner" (dict
      "page"     .Page
    "id"       (printf "java-multirunner-%d" now.UnixNano)
    "endpoint" .Site.Params.javaRunnerEndpoint
    "files"    $files
) }}
